.App {
  text-align: center;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 17% 3% 80%;
  background-color: #29335C;
  height: 100vh;
}

.ParallelCoordinate {
	position: relative;
	background-color: teal;
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.Address {
	position: relative;
	background-color: #29335C;
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.GridSelector {
  background-color: #484848;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  overflow-y: scroll;
}

.TemplateButton {
  background-color: green;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.DataViewGrid {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 3;
}

.DataView {
  background-color: grey;
  color: white;
  font-weight: bold;
  height: 20%;
  width: 80%;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.DataDrop {
  margin: 10px;
}

.xrdImage {
  object-fit: cover; 
  width: 100%;
  height: 37.5vh;
}

img {
  width: 250px;
  height: 250px;
}


.OneAndTwo { 
  background-color: #29335C;
  display: grid;
  width: auto;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.OneAndTwo .one {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 10px;
}

.OneAndTwo .two {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 10px;
}

.OneAndTwo .three {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 10px;
}

.OneAndOneHorizontal {
  background-color: #29335C;
  display: grid;
  width: auto;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.OneAndOneHorizontal .one {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 10px;
}

.OneAndOneHorizontal .two {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 10px;
}

.OneAndOneVertical {
  background-color: #29335C;
  display: grid;
  width: auto;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.OneAndOneVertical .one {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  margin: 10px;
}

.OneAndOneVertical .two {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  margin: 10px;
}

.Quads {
  background-color: #29335C;
  display: grid;
  width: auto;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.Quads .one {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin: 10px;
}

.Quads .two {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin: 10px;
}

.Quads .three {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  margin: 10px;
}

.Quads .four {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  margin: 10px;
}
